{
  "$schema": "http://json.schemastore.org/prettierrc",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabs": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
